# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.wsgi

# Local settings
.env
*.local

# Media files
media/
staticfiles/
static/

# Node modules (if you're using Node.js for frontend)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Thumbnails
*_thumb.*

# Docker
docker-compose.override.yml
Dockerfile

# Build
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Migrations
migrations/

# SQL files
*.sql

# AWS credentials
.aws/

